*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #062458 , #000000 );
}

.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 60px;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}

.up h2{
    font-weight: 400;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu a:hover{
    transform: scale(1.1);
}

.hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.text{
    padding: 30px;
    border-radius: 20px;
    width: 75%;
    border: 2px solid white;
    background: rgba(255,255,255,0.05);
    transition: 0.3s ease;
}

.text:hover{
    transform: scale(1.04);
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.text h1{
    font-size: 30px;
}

.text h4{
    font-size: 20px;
    margin: 10px 0;
}

.text p{
    font-size: 19px;
    margin: 10px 0;
}

.text a{
    font-size: 18px;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-line {
    width: 90%;
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 0 auto 5px auto;
}

footer p{
    padding: 5px 0;
    padding-bottom: 15px;
}

.social-icons a {
    font-size: 22px;
    color: white;
    margin: 10px 10px;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #3f46c3;
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    .up {
        padding: 0 30px;
    }
    
    .hero {
        height: auto;
        padding: 30px 0;
    }

    .text {
        width: 90%; 
        padding: 25px;
    }
    
    .text h1 {
        font-size: 26px;
    }
    
    .text h4 {
        font-size: 18px;
    }
    
    .text p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .up {
        flex-direction: column; 
        height: auto;
        padding: 15px 10px;
    }

    .menu {
        margin-top: 15px;
        gap: 30px;
        flex-wrap: wrap;
        font-size: 16px;
    }
    
    .hero {
        padding: 20px 0;
    }
    
    .text {
        width: 80%;
        padding: 15px;
        border-radius: 10px;
        transform: none !important; 
        box-shadow: none !important;
    }
    
    .text h1 {
        font-size: 22px;
        text-align: left;
    }
    
    .text h4 {
        font-size: 16px;
    }
    
    .text p {
        font-size: 16px;
    }

    .footer-line {
        width: 95%;
    }
    
    footer p {
        font-size: 14px;
    }
    
    .social-icons a {
        font-size: 20px;
        margin: 5px 8px;
    }
}