html,body{
    margin: 0;
    height: 100%;
    background-color: rgb(35, 34, 34);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}


.left {
    padding: 0 30px;
}


.left img{
    width: 60px;
    padding-top: 6px;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 130px;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu a:hover{
    color: rgb(199, 1, 1);
}

.right{
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.right img{
    width: 15px;
    height: 17px;
    cursor: pointer;
}


.right input{
    border-radius: 14px;
    width: 70px;
    height: 25px;
    padding: 1px 25px;
    background-color: black;
    color: white;
    margin-right: 10px;
}

#search{
    position: absolute;
    left: 37px;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero img{
    width: 100%;
    height: 500px;
}

.hero h1{
    color: white;
    font-size: 70px;
    margin-top: 25px;
    padding: 0;
    padding-top: 5px;
}

.hero p{
    max-width: 430px;
    height: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: -10px;
    color: white;
}